<mat-toolbar color="primary">
  <span>My App</span>

  <button routerLink="/chat" mat-button>Chat</button>

  <button routerLink="channels" mat-button>Channels</button>

  <span class="spacer"></span>

  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <ng-container *ngIf="auth.user$ | async as user">
      <img [src]="user.picture" alt="profile image" class="profile-image" />
    </ng-container>

    <button
      mat-icon-button
      aria-label="icon-button with logout icon"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>

  <ng-template #loggedOut>
    <button
      mat-icon-button
      aria-label="icon-button with login icon"
      (click)="login()"
    >
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>

<div class="container mx-auto">
  <ul *ngIf="auth.user$ | async as user">
    <li>{{ user.name }}</li>
    <li>{{ user.email }}</li>
  </ul>
  <router-outlet></router-outlet>
</div>
